{% extends 'main/layoute.html' %}

{% block title %}
    <title>Первая страница на django</title>
{% endblack %}

{% block content %}
    {% include 'main/nav.html'%}

<h1>Добро пожаловать на наш первый сайт проекта {{ caption }}!</h1>

<h3>{{ caption }} создан для демонстрации возможностей Django — мощного и гибкого веб-фреймворка для разработки веб-приложений.
    Django позволяет быстро и эффективно создавать высококачественные веб-сайты, обеспечивая безопасность, масштабируемость
    и простоту поддержки.
</h3>

<h4>На нашем сайте вы найдете множество полезных ресурсов и примеров, которые помогут вам лучше понять, как работает Django.
    Мы предлагаем подробные руководства, статьи и примеры кода, которые охватывают все аспекты разработки на Django
    — от начальной настройки до создания сложных веб-приложений.
</h4>

<p>Если вы новичок в Django, начните с нашего раздела "Основы Django", где вы найдете пошаговые инструкции по установке,
    настройке и созданию вашего первого проекта. Для более продвинутых пользователей мы предлагаем статьи о лучших практиках,
    оптимизации производительности и безопасности приложений.
</p>

<h2>Присоединяйтесь к нашему сообществу, чтобы делиться опытом, задавать вопросы и находить ответы на самые сложные задачи.
    Мы также приглашаем вас подписаться на нашу рассылку, чтобы быть в курсе последних новостей и обновлений.
</h2>

<h3>Спасибо, что выбрали наш сайт для изучения Django! Мы уверены, что с нашей помощью вы сможете быстро достичь
    успеха и создать свои собственные удивительные веб-приложения.
</h3>

<h4>Начните свое путешествие с Django прямо сейчас и откройте для себя мир возможностей, которые предлагает этот фреймворк!
</h4>
{% endblock %}